<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Ditty</string>
    <key>CFBundleIdentifier</key>
    <string>com.shaun.Ditty</string>
    <key>CFBundleName</key>
    <string>Ditty</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.2</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Ditty needs to communicate with Music.app to display track information and control playback.</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>Ditty captures audio from Music.app to display a real-time visualizer.</string>
</dict>
</plist>
